%h1 Management
.container
  .row
    .span12
      .well
        %h2 Acts
        %br
        =link_to 'Manage acts', acts_path
  
  .row
    .span12
      .well
        %h2 Erogenous zones
        %br
        =link_to 'Manage erogenous zones', erogenous_zones_path  
