%h1 Management
.container
  .row
    .span6
      .well
        %h2 Acts
        %br
        =link_to 'Manage acts', acts_path
  
    .span6
      .well
        %h2 Erogenous zones
        %br
        =link_to 'Manage erogenous zones', erogenous_zones_path  
  
  .row
    .span4
      .well
        %h2 Toys
        %br
        =link_to 'Manage toys', toys_path  

    .span4
      .well
        %h2 Tips
        %br
        =link_to 'Manage tips', tips_path  
    
    .span4
      .well
        %h2 Accessories
        %br
        =link_to 'Manage accessories', accessories_path  