%h1 Management
.container
  .row
    .span6
      .well
        %h2= link_to 'Acts + toys', toy_acts_path
    .span6
      .well
        %h2= link_to 'Acts + erogenous zones', zone_acts_path

  .row
    .span6
      .well
        %h2= link_to 'Acts + accessories', accessory_acts_path
        
  = link_to 'Back', home_path, :class=>'btn btn-danger'