.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .nav-collapse.collapse
        %table.table.table-bordered.table-striped.table-hover
          %thead
            %tr
              %th.tamanho_celda_primeira Accion
              - @acts.each do |act|
                %th.tamanho_celda= act.description[0..5]
