// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.proba_fondo{
background-color:#4c0a14;
}

.proba_fondo2{
background-color:#3c1414;
}
.proba_fondo3{
background-color:#560319;
}

.proba_fondo4{
    background-color:#3c0f18;
}
.proba_fondo5{
background-color:#711324;
}
.proba_fondo6{
background-color:#6a0a22;
}
.proba_fondo7{
    margin:10px;
    padding-top:20px;
    padding-bottom:20px;
    text-align:center;
}

.sex_selected{
    background-color:#793c47;
 }
.proba_fondo8{
background-color:#7c2629;
}

.box{
    margin:20px;
    text-align:center;
}

.proba_fondo9{
    margin:10px;
    padding-top:20px;
    padding-bottom:20px;
    text-align:center;
background-color:#793c47;
} 

.result {
    padding: 10px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    
    display: inline-block;
    height: 200px;
    width: 175px;
    *display:inline;
    background-repeat:no-repeat;
    background-position:center center;
}

.result h3{
    padding-top:10%;
    padding-left:39%;
    color:#1e262c;
}

.button_zone{
    background-image:url('button_green_on.png');
}

.button_act{
    background-image:url('button_green_on.png');
}

.button_toy{
    background-image:url('sleepbot_128x128_32.png');
}

.button_bar{
    text-align:center;
}

.p{
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}