// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.proba_fondo{
background-color:#4c0a14;
}

.proba_fondo2{
background-color:#3c1414;
}
.proba_fondo3{
background-color:#560319;
}

.proba_fondo4{
    background-color:#3c0f18;
}
.proba_fondo5{
background-color:#711324;
}
.proba_fondo6{
background-color:#6a0a22;
}
.proba_fondo7{
    text-align:center;
}

.sex_selected{
    background-color:#793c47;
 }
.proba_fondo8{
background-color:#7c2629;
}

.box{
    text-align:center;
}

.proba_fondo9{
    text-align:center;
    background-color:#793c47;
} 

.dado{
    background-image:url('dado.png');
    
    background-repeat:no-repeat;
    background-position:center;
    height:270px;
}
.text-play{
    text-align:center;
    color:black;
    text-shadow: 5px 5px 10px #793c47;
}

.button_bar{
border: 2px solid blue;
}

.probass{
    width:100%;
    height:30px;
    text-align:center;
}

.button_done h3{
    color:#1e262c;
}